* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* TODO:   */

body {
    background-color: #FDF0D1;
}

#titulo {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 60px;
    margin: 30px 0 10px 0;
    letter-spacing: 3px;
}

header {
    width: 100%;
}

header ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header ul li {
    padding: 15px 30px 0 30px;
    
}

header ul li a {
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
}

header ul li a:visited{
    color:black;
}

header ul li a:link {
    color: black;
}

header ul li a img {
    width: 44px;
    height: 44px;
}

.boton-up{
    position: fixed;
    bottom: 50px;
    right: 70px;
}

/* .contenedor-titulo {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 500px;
    align-items: center;
    justify-content: center;
} */


.contenedor-titulo {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 80px auto 0 auto;
    text-align: center;
}

.contenedor-titulo h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 48px;

}

.contenedor-titulo h3 {
    margin-top: 10px;
    align-self: center;
    font-size: 24px;
}

.contenedor-alianza-padre {
    background-color: #002859;
    width: 100%;
    color: white;
    /* margin-top: 80px; */
}

.contenedor-horda-padre {
    background-color: #8B1F1B;
    width: 100%;
    color: white;
    /* margin-top: 80px; */
}

.barra-separadora {
    border: 10px solid #FDF0D1;
}

.contenedor-alianza {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 70% 30%;
    grid-gap: 10px; 
    width: 85%;
    height: 400px;
    margin: 80px auto 0 auto;
    padding: 30px 0 30px 0;
}

.contenedor-horda {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30% 70%;
    grid-gap: 10px; 
    width: 85%;
    height: 400px;
    margin: 0 auto 0 auto;
    padding: 30px 0 30px 0;
}

.contenedor-alianza-texto, .contenedor-horda-texto {
    background-color: #232323;
    border-radius: 15px;
}

.contenedor-alianza-imagen, .contenedor-horda-imagen {
    background-color: #232323;
    border-radius: 15px;
}

.contenedor-alianza-imagen img{
    width: 50%;
    position: relative; /*Cambiar esto */
    left:100px;
    top: 46px;
}

.contenedor-alianza-logo img{
    width: 20%;
    position: absolute; 
    /* left: 1400px; */
    top: 0px;
}

#alianza{
    width: 170px;
    height: 241px;
    position: absolute;
    left: 1550px;
    top: 30px;
}

#horda{
    width: 150px;
    height: 253px;
    position: absolute;
    right: 1550px;
    top: 30px;
}

.contenedor-alianza-logoHorda img{
    width: 16%;
    position: relative; /*Cambiar esto */
    left:-500px;
    top: -850px;
}

.contenedor-horda-imagen img {
    width:100%;
    position: relative; /*Cambiar esto */
    left:20px;
    top: 67px;
}

.contenedor-alianza-texto h1 {
    margin-top: 10px;
    margin-left: 15px;
    background: linear-gradient(to right, rgb(85, 158, 241), rgb(243, 183, 52)); /* Degradado de negro a rojo */
    -webkit-background-clip: text; /* Aplicar el fondo solo al texto */
    -webkit-text-fill-color: transparent;
}

.contenedor-horda-texto h1{
    margin-top: 10px;
    margin-left: 740px;
    background: linear-gradient(to right, #8B1F1B, rgb(255, 255, 255)); /* Degradado de negro a rojo */
    -webkit-background-clip: text; /* Aplicar el fondo solo al texto */
    -webkit-text-fill-color: transparent;
}

.contenedor-alianza-texto h3, .contenedor-horda-texto h3 {
    padding: 20px 15px 20px 15px;
}

.contenedor-noticias {
    margin-top: 80px;
    /* width: 100vw; */
    margin-bottom: 30px;
}

.contenedor-noticias h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 48px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 15px;
}

.contenedor-noticias-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    text-align: center;
    width: 65%;
    height: 1400px;
    margin: 0 auto 0 auto;
    /* justify-items: center; */
    /* align-items: center; */
}

.contenedor-noticias-grid div {
    background-color: #41b06e;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.contenedor-noticias-grid div:hover {
    background-color: #141E46;
    cursor: pointer;
}

.contenedor-noticias-grid div:hover h4, .contenedor-noticias-grid div:hover p {
    color: white;
}

.contenedor-noticias-grid div h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    margin: 10px;
    /* color: white; */ 
    /* color: #8DECB4; */
}

.contenedor-noticias-grid div p {
    text-align: center;
    width: 80%;
    align-self: center;
    font-weight: 700;
    color: rgb(15, 15, 15);
    /* color: #41B06E; */
}

.contenedor-noticias-grid div .contenedor-imagen {
    width: 80%;
    margin-top: 10px;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
}

.contenedor-noticias-grid div:hover .contenedor-imagen {
    background-color: #141E46;
}

footer {
    /* margin-top: 50px; */
    /* height: 70px; */
    background-color: #1C1C1C;
    color:whitesmoke;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer img{
    width:40px;
    margin: 15px;
}





/* CSS Expansiones */

.contenedor-guerra-padre {
    
    width: 100%;
    color: white;
    /* margin-top: 80px; */
}

.contenedor-dragon-padre {
    
    width: 100%;
    color: white;
    /* margin-top: 80px; */
}




/* CSS Personajes */

.contenedor_total{
    display: flex;
}

.enfrentamiento{
    width: 100%;
    height: 695px;
}

#enfrentados{
    width: 100%;
}

.container_alianza{
    /* background-image: url(img/fondobatman.jpg); */
    max-width: 50%;
    /* width: 50; */
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #002859;
    margin-right: 0%;
}

.container_horda{
    /* background-image: url(img/fondobatman.jpg); */
    max-width: 50%;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #8B1F1B;
    margin-left: 0%;
}

.ficha{
    width: 300px;
    margin: 10px;
    transition: all ease 300ms;
}
.ficha:hover{
    width: 350px;
}
.ficha .caratula{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    /* border-radius: 5px; */
    display: flex;
    justify-content: center;
}

.ficha .caratula:hover {
    border-radius: 5px;
}

.ficha .caratula img{
    align-self: center;
    height: 250px;
    /* display: block; */
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all ease 400ms;
    
}
.ficha:hover .caratula img{
    top: 0px;
    filter: none;
}
/*.ficha .img_back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom:-80px;
    left: 0px;
    background-size: cover;
    border-radius: 20px;
    transition: all ease 300ms;
}
Pseudo_clase :nth-of-type() en CSS, selecciona uno o más elementos de un tipo dado,
puede ser p, img, videos , etc., en función de su posición y los situa entre un grupo de hermanos 
.ficha:nth-of-type(1) .img_back{
    background-image: url(img/enano.jpg);
}
.ficha:nth-of-type(2) .img_back{
    background-image: url(img/fondo-galaxia-acuarela-pintada-mano_52683-63443.avif);
}
.ficha:nth-of-type(3) .img_back{
    background-image: url(img/fondo-galaxia-acuarela-pintada-mano_52683-63443.avif);
}
.ficha:nth-of-type(4) .img_back{
    background-image: url(img/fondo-galaxia-acuarela-pintada-mano_52683-63443.avif);
}
.ficha:nth-of-type(5) .img_back{
    background-image: url(img/fondo-galaxia-acuarela-pintada-mano_52683-63443.avif);
}
.ficha:hover .img_back{
    bottom: -40px;
    border-radius: 20px;
}
*/
.ficha .info{
    background: whitesmoke;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all ease 300ms;
}
.ficha:hover .info{
    padding: 40px;
}
.ficha .info h2{
    margin-top: 10px;
    /* Insertar tipografía */
}
.ficha .info p{
    margin-top: 10px;
    text-align: justify;
    height: 100px;
    overflow: hidden;
    
}
.container_alianza .ficha .info input{
    display: block;
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #002859;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all ease 300ms;
    margin: 20px auto;
}

.container_horda .ficha .info input{
    display: block;
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #8B1F1B;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all ease 300ms;
    margin: 20px auto;
}
.ficha .info input:hover{
    background: #c79dc2;

}
.ficha .info a{
    text-decoration: none;
}

#enano{
    width: 100%;
}

.contenedor-cards {
    display: flex;
    justify-content: center;
}

.card{
    position: relative;
    width: 300px;
    height: 350px;
    /*Separación de márgenes con el resto de cartas*/
    margin: 20px;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    /*Esto determina si la cara posterior de un elemento va a ser visible frente al usuario o no.
    La cara posterior de un elemento siempre es un fondo transparente, permitiendo cuando es visible, que se muestre
    una imagen de espejo de la cara frontal. Tiene la propiedad visible: significa que la cara posterior es visible, 
    permitiendo que la cara frontal se muestre invertida.
    Hidden: significa que la cara posterior no es visible, ocultando la cara frontal.*/
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.card .front{
    /* transform: perspective(600px) rotateY(0deg); */
    transform: perspective(600px) rotateY(00deg);
    box-shadow: 0px 5px 10px #000;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    /* Esta propiedad indica cómo el contenido de un elemento deberá ser redimensionado para ajustarse a su contenedor */
    object-fit: cover;
}

.card .front h3{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: #252525;
    text-align: center;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: #252525;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 5px 10px #000;
}

.card .back .link{
    border-top: 1px solid white;
    height: 50px;
    line-height: 50px;
}

.card .back .link a{
    color:darkred;
}

.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p{
    letter-spacing: 1px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

.contenedor-monturas {
    margin-top: 80px;
    /* width: 100vw; */
    margin-bottom: 30px;
}

.contenedor-monturas h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 48px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 15px;
}

.contenedor-monturas-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    text-align: center;
    width: 65%;
    height: 700px;
    margin: 0 auto 0 auto;
    /* justify-items: center; */
    /* align-items: center; */
}

.contenedor-monturas-grid div {
    background-color: #252525;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.contenedor-monturas-grid div:hover {
    background-color: #353535;
    cursor: pointer;
}

.contenedor-monturas-grid div h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    margin: 10px;
    color: white;
    letter-spacing: 1.5px;
}

.contenedor-monturas-grid div p {
    text-align: center;
    width: 80%;
    align-self: center;
    color: white;
    padding: 5px 0 10px 0;

}

.contenedor-monturas-grid div .contenedor-imagen {
    /* width: 80%; */
    max-width: 100%;
    min-height: 50%;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
}

.contenedor-monturas-grid div .contenedor-imagen img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block;
}

.contenedor-mascotas {
    margin-top: 150px;
    /* width: 100vw; */
    margin-bottom: 100px;
}

.contenedor-mascotas h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 48px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 15px;
}

.contenedor-mascotas-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    text-align: center;
    width: 65%;
    height: 700px;
    margin: 0 auto 0 auto;
    /* justify-items: center; */
    /* align-items: center; */
}

.contenedor-mascotas-grid div {
    background-color: #252525;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.contenedor-mascotas-grid div:hover {
    background-color: #353535;
    cursor: pointer;
}

.contenedor-mascotas-grid div h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    margin: 10px;
    color: white;
    letter-spacing: 1.5px;

}

.contenedor-mascotas-grid div p {
    text-align: center;
    width: 80%;
    align-self: center;
    color: white;
    padding: 5px 0 10px 0;
}

.contenedor-mascotas-grid div .contenedor-imagen {
    /* width: 80%; */
    width: 100%;
    max-width: 100%;
    min-height: 65%;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
}

.contenedor-mascotas-grid div .contenedor-imagen img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block;

}


/* CSS Quienes Somos  */

.tituloQS h1{
    font-family: 'Bebas Neue', sans-serif; /* Aplicar la fuente Bebas Neue */
    text-align: center;
    font-size: 48px;
    color: #000000;
    width: 80%;
    margin: 20px auto 0; /* Cambiado el margen superior a 20px y eliminado el margen inferior */

}

/* Estilos para el texto de la sección "Quienes Somos" */
.textoQS p {
    text-align: justify;
    margin: 20px auto; /* Modificado el margen para centrar verticalmente el texto */
    font-size: 20px;
    color: #000000;
    width: 80%;
    font-weight: bold;
}

/* Estilos para el contenedor principal */
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Añadido margen superior */
    margin-bottom: 20px; /* Añadido margen inferior */
    padding: 20px; /* Añadir un relleno alrededor del contenido */
}

/* Estilos para la cuadrícula de perfiles */
.cuadricula-perfiles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilos para las tarjetas de perfil */
.perfil {
    width: 200px; /* Ancho fijo para las tarjetas */
    margin: 20px; /* Aumentar el espacio entre las tarjetas */
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    position: relative; /* Para posicionar el icono de GitHub */
    z-index: 1; /* Asegurar que las tarjetas estén por encima del fondo */
}

/* Efecto hover para cada perfil */
.perfil:hover {
    transform: translateY(-10px);
}

/* Estilos para las imágenes de perfil */
.imagen-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s;
}

/* Efecto hover para las imágenes de perfil */
.perfil:hover .imagen-perfil img {
    opacity: 0.5;
}

/* Estilos para el nombre y la biografía de perfil */
.nombre-perfil {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
    transition: opacity 0.5s;
    opacity: 0;
}

/* Efecto hover para el nombre y la biografía de perfil */
.perfil:hover .nombre-perfil {
    opacity: 1;
}

/* Estilos para el icono de GitHub en las tarjetas de perfil */
.nombre-perfil a {
    display: block; /* Para que el enlace ocupe todo el espacio disponible */
    text-align: center; /* Centrar el contenido horizontalmente */
    margin-top: 10px; /* Ajustar el margen superior para separar el icono del texto */
}

.nombre-perfil a img {
    width: 30px; /* Ajustar el ancho del icono según sea necesario */
    height: auto; /* Mantener la proporción original de la imagen */
}




/* CSS Formulario de Contacto */

.contenedor-formulario{
    display: block;
    margin-top: 100px; 
    margin-bottom: 100px;
}


.contenedor_contacto{
    width: 100%;
    padding: 15px;
}

.formulario{
    background: #353535;
    display: block;
    margin-top: 20px; 
    /* top: 500px; */
    /* left: 500px; */
}
.titulo_registro{
    padding-top: 20px;
    text-align: center;
    color: white; 
    font-size: 48px;
}

.icon{
    padding-top: 4px;
    width: 45px;
    height: 45px;
    position: relative;
    top: 12px;
    text-align: center;
}

input[type="text"], input[type="password"]{
    text-align: center;
    font-size: 24px;
    width: 80%;
    padding: 10px;
    border: none;
}

.input-contenedor_contacto{
    margin-bottom: 15px;
    border: 1px solid #353535;
}

.button{
    border: none;
    width: 100%;
    font-size: 24px;
    color: #353535;
    background-color: beige;
    padding: 15px 20px;
    border-radius: 5px;
    cursor:pointer;
}

.button:hover{
    background-color: white;
}

p{
    text-align: center;
}

.link{
    text-decoration: none;
    color:beige;
    font-weight: 600px;
}

.link:hover{
    color:aquamarine
}

@media(min-width:768px){
    .formulario{
        margin-top: 150px;
        width: 500px;
        margin: auto;
        border-radius: 2%;
    }
}

.texto_formulario {
    color: white;
    display: block;
    margin-top: 20px;
}

.footer-abajo {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor-video-titulo {
    display: flex;
}

.contenedor-video {
    border: 11px solid #41B06E;
    border-radius: 5%;
    overflow: hidden;
    width: 704px; 
    height: 396px;
    margin: 30px 0 0 200px;
}

.contenedor-video iframe {
    width: 100%;
    height: 100%;
    
}

.contenedor-expansiones {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    text-align: center;
    width: 65%;
    height: 400px;
    margin: 50px auto 130px auto;
}

.contenedor-expansiones div {
    background-color: #252525;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.contenedor-expansiones div h4 {
    /* color:rgb(49, 101, 212); */
    color: #8DECB4;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
}

.contenedor-expansiones div p {
    color:whitesmoke;
}

.contenedor-expansiones div .contenedor-foto {
    width: 100%;
    height: 55%;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.contenedor-expansiones div .contenedor-foto img {
    width: 100%;
}

#dani img {
    height: 40vh;
}

@media only screen and (max-width: 1537px) {
    #alianza {
        left: 1260px;
        top: 80px;
    }

    #horda {
        right: 1260px;
        top: 80px;
    }

    .contenedor-horda-texto h1 {
        width: 50%;
        margin-left: 525px;
    }

    .contenedor-alianza-imagen img {
        top: 106px;
    }
    
    .contenedor-horda-imagen img {
        top: 122px;
    }

    .contenedor-expansiones {
        height: 410px;
        margin: 50px auto 80px auto;
    }

    .contenedor-expansiones div .contenedor-foto {
        margin-bottom: 0px;
    }

    .contenedor-expansiones div h4  {
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .contenedor-expansiones div p {
        margin: 0 10px 15px 10px;
    }

    .enfrentamiento {
        height: 550px;
    }

    .textoQS p {
        font-size: 18px;
    }

    .contenedor {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }

    .contenedor-formulario {
        margin-top: 50px;
    }
}

@media (max-width: 992px) {
    header {
        padding: 20px;
    }

    header ul {
        display: none;
    }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url('../icon/menu.png');
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }

    .toggle.active {
        position: fixed;
        right: 20px;
        margin-top: 20px;
        background: url('../icon/close.png');
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }

    header ul.navegacion.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #FFF;
        z-index: 10;
    }
    
    header ul li a {
        font-size: 1.5em;
        margin: 5px 0;
    }

    /* #alianza {
        left: 11%;
        top: 116%;
        height: 70px;
        width: auto;
    }

    #horda {
        right: 11%;
        height: 70px;
        width: auto;
        top: 172%;
    } */

    #alianza {
        display: none;
    }

    #horda {
        display: none;
    }

    .contenedor-noticias-grid {
        display: none;
    }
    
    .contenedor-titulo {
        width: 88%;
    }

    .contenedor-alianza {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        height: 100%;
    }

    .contenedor-alianza-imagen img {
        top: 14%;
        left: 26%;
    }

    .contenedor-horda {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        height: 100%;
    }

    .contenedor-horda-imagen img {
        top: 28%;
        left: 8%;
    }

    .contenedor-horda-texto h1 {
        width: 69%;
        margin-left: 28%;
    }


    .contenedor_total{
        display: flex;
        margin-top: 0px;
    }
    
    .enfrentamiento{
        width: 100%;
        height: 424px;
    }
    
    #enfrentados{
        width: 100%;
    }
    
    .container_alianza{
        /* background-image: url(img/fondobatman.jpg); */
        max-width: 50%;
        /* width: 50; */
        margin: auto;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #002859;
        margin-right: 0%;
    }
    
    .container_horda{
        /* background-image: url(img/fondobatman.jpg); */
        max-width: 50%;
        width: 50%;
        margin: auto;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #8B1F1B;
        margin-left: 0%;
    }
    

    /* CSS PRODUCTOS */
    
    .contenedor-cards {
        flex-wrap: wrap;
    }

    .contenedor-mascotas {
        margin-top: 380px;
        margin-bottom: 302px;
    }

    .contenedor-mascotas-grid {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    footer p {
        width: 70%;
    }

    .contenedor-monturas-grid {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        
    }

    /* CSS de Expansiones */

    .contenedor-video-titulo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        width: 900px;
        text-align: center;
        
    }
    
    .contenedor-video {
        border: 11px solid #41B06E;
        border-radius: 5%;
        overflow: hidden;
        display: block;
        margin: auto;
        width: 609px; 
        height: 396px;
        margin: 30px 0 0 150px;
    }
    
    .contenedor-video iframe {
        width: 100%;
        height: 100%;
        
    }
    
    .contenedor-expansiones {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        text-align: center;
        width: 65%;
        height: 400px;
        margin: 50px auto 130px 120px;
    }
    
    .contenedor-expansiones div {
        background-color: #252525;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
    }
    
    .contenedor-expansiones div h4 {
        /* color:rgb(49, 101, 212); */
        color: #8DECB4;
        font-size: 30px;
        font-family: "Bebas Neue", sans-serif;
    }
    
    .contenedor-expansiones div p {
        color:whitesmoke;
    }
    
    .contenedor-expansiones div .contenedor-foto {
        width: 100%;
        height: 136px;
        align-self: center;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .contenedor-expansiones div .contenedor-foto img {
        width: 100%;
    }

    /* CSS Quienes somos */
    .cuadricula-perfiles {
        gap: 0px;
        display: flex;
        flex-direction: column;
    }
    
    /* CSS Contacto */

    .contenedor-formulario{
        display: block;
        margin-top: 100px; 
        margin-bottom: 100px;
    }
    
    
    .contenedor_contacto{
        width: 100%;
        padding: 15px;
    }
    
    .formulario{
        background: #353535;
        display: block;
        margin-top: 20px; 
        /* top: 500px; */
        /* left: 500px; */
    }
    .titulo_registro{
        padding-top: 20px;
        text-align: center;
        color: white; 
        font-size: 48px;
    }
    
    .icon{
        padding-top: 4px;
        width: 45px;
        height: 45px;
        position: relative;
        top: 12px;
        text-align: center;
    }
    
    input[type="text"], input[type="password"]{
        text-align: center;
        font-size: 24px;
        width: 80%;
        padding: 10px;
        border: none;
    }
    
    .input-contenedor_contacto{
        margin-bottom: 15px;
        border: 1px solid #353535;
    }
    
    .button{
        border: none;
        width: 100%;
        font-size: 24px;
        color: #353535;
        background-color: beige;
        padding: 15px 20px;
        border-radius: 5px;
        cursor:pointer;
    }
    
    .button:hover{
        background-color: white;
    }
    
    p{
        text-align: center;
    }
    
    .link{
        text-decoration: none;
        color:beige;
        font-weight: 600px;
    }
    
    .link:hover{
        color:aquamarine
    }

   /* CSS Contacto Dos */

}


@media (max-width: 576px) {
    header {
        padding: 20px;
    }

    header ul {
        display: none;
    }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url('../icon/menu.png');
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }

    .toggle.active {
        position: fixed;
        right: 20px;
        margin-top: 20px;
        background: url('../icon/close.png');
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }

    header ul.navegacion.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #FFF;
        z-index: 10;
    }
    
    header ul li a {
        font-size: 1.5em;
        margin: 5px 0;
    }

    /* #alianza {
        left: 11%;
        top: 116%;
        height: 70px;
        width: auto;
    }

    #horda {
        right: 11%;
        height: 70px;
        width: auto;
        top: 172%;
    } */

    #alianza {
        display: none;
    }

    #horda {
        display: none;
    }

    .contenedor-noticias-grid {
        display: none;
    }
    
    .contenedor-titulo {
        width: 88%;
    }

    .contenedor-alianza {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        height: 100%;
    }

    .contenedor-alianza-imagen img {
        top: 13%;
        left: 23%;
        width: 62%;
    }

    .contenedor-horda {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        height: 100%;
    }

    .contenedor-horda-imagen img {
        top: 30%;
        left: 5%;
        width: 111%;
    }

    .contenedor-horda-texto h1 {
        width: 74%;
        margin-left: 3%;
    }


    .contenedor_total{
        display: flex;
        margin-top: 0px;
        flex-wrap: wrap;
    }
    
    .enfrentamiento{
        width: 100%;
        height: 246px;
    }
    
    #enfrentados{
        width: 100%;
    }
    
    .container_alianza{
        /* background-image: url(img/fondobatman.jpg); */
        max-width: 100%;
        /* width: 50; */
        margin: auto;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #002859;
        margin-right: 0%;
    }
    
    .container_horda{
        /* background-image: url(img/fondobatman.jpg); */
        max-width: 100%;
        width: 100%;
        margin: auto;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #8B1F1B;
        margin-left: 0%;
    }
    
    .ficha{
        width: 350px;
        margin: 10px;
        transition: all ease 300ms;
    }
    .ficha:hover{
        width: 350px;
    }
    .ficha .caratula{
        width: 100%;
        height: 250px;
        position: relative;
        overflow: hidden;
        /* border-radius: 5px; */
        display: flex;
        justify-content: center;
    }
    
    .ficha .caratula:hover {
        border-radius: 5px;
    }
    
    .ficha .caratula img{
        align-self: center;
        height: 250px;
        /* display: block; */
        margin: auto;
        position: relative;
        top: 40px;
        z-index: 1;
        filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
        transition: all ease 400ms;
        
    }
    .ficha:hover .caratula img{
        top: 0px;
        filter: none;
    }
    
    .ficha .info{
        background: whitesmoke;
        margin-top: -10px;
        padding: 20px;
        border-radius: 0px 0px 20px 20px;
        transition: all ease 300ms;
    }
    .ficha:hover .info{
        padding: 40px;
    }
    .ficha .info h2{
        margin-top: 10px;
        /* Insertar tipografía */
    }
    .ficha .info p{
        margin-top: 10px;
        text-align: justify;
        height: 100px;
        overflow: hidden;
        
    }

    /* CSS PRODUCTOS */
    
    .contenedor-cards {
        flex-wrap: wrap;
    }

    .contenedor-mascotas {
        margin-top: 0px;
        margin-bottom: 100px;
        height: auto;
    }

    .contenedor-mascotas-grid {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr ;
        height: 2100px;
    }

    footer p {
        width: 70%;
    }

    .contenedor-monturas-grid {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        height: 2100px;
    }

    /* CSS de Expansiones */

    .contenedor-video-titulo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        width: 576px;
        text-align: center;
        align-content: center;
    }
    
    .contenedor-video {
        border: 11px solid #41B06E;
        border-radius: 5%;
        overflow: hidden;
        display: block;
        margin: auto;
        width: 530px; 
        height: 310px;
        margin: 30px 0 0 0px;
    }
    
    .contenedor-video iframe {
        width: 100%;
        height: 100%;
        
    }
    
    .contenedor-expansiones {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        gap: 15px;
        text-align: center;
        width: 65%;
        height: 950px;
        margin: 50px auto 130px 120px;
    }
    
    .contenedor-expansiones div {
        background-color: #252525;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
    }
    
    .contenedor-expansiones div h4 {
        /* color:rgb(49, 101, 212); */
        margin-top: 5px;
        color: #8DECB4;
        font-size: 30px;
        font-family: "Bebas Neue", sans-serif;
    }
    
    .contenedor-expansiones div p {
        color:whitesmoke;
    }
    
    .contenedor-expansiones div .contenedor-foto {
        width: 100%;
        height: 136px;
        align-self: center;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .contenedor-expansiones div .contenedor-foto img {
        width: 100%;
    }

    /* CSS Quienes somos */
    .cuadricula-perfiles {
        gap: 0px;
    }

    /* CSS Contacto */

    .contenedor-formulario{
        display: block;
        margin-top: 100px; 
        margin-bottom: 100px;
        width: 500px;
        margin-left: 38px;
    }
    
    
    .contenedor_contacto{
        width: 100%;
        padding: 15px;
    }
    
    .formulario{
        background: #353535;
        display: block;
        margin-top: 20px; 
        /* top: 500px; */
        /* left: 500px; */
        width: 500px;
        
    }
    .titulo_registro{
        padding-top: 20px;
        text-align: center;
        color: white; 
        font-size: 48px;
    }
    
    .icon{
        padding-top: 4px;
        width: 45px;
        height: 45px;
        position: relative;
        top: 12px;
        text-align: center;
    }
    
    input[type="text"], input[type="password"]{
        text-align: center;
        font-size: 24px;
        width: 80%;
        padding: 10px;
        border: none;
    }
    
    .input-contenedor_contacto{
        margin-bottom: 15px;
        border: 1px solid #353535;
    }
    
    .button{
        border: none;
        width: 100%;
        font-size: 24px;
        color: #353535;
        background-color: beige;
        padding: 15px 20px;
        border-radius: 5px;
        cursor:pointer;
    }
    
    .button:hover{
        background-color: white;
    }
    
    p{
        text-align: center;
    }
    
    .link{
        text-decoration: none;
        color:beige;
        font-weight: 600px;
    }
    
    .link:hover{
        color:aquamarine
    }

}