* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* TODO:   */


#personajes{
    text-align: center;
}

header {
    width: 100%;
}

header ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header ul li {
    padding: 15px 30px 0 30px;
    
}

header ul li a {
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
}

header ul li a:visited{
    color:black;
}

.boton-up{
    position: fixed;
    bottom: 50px;
    right: 70px;
}

/* .contenedor-titulo {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 500px;
    align-items: center;
    justify-content: center;
} */


.contenedor-titulo {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 80px auto 0 auto;
    text-align: center;
}

.contenedor-titulo h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 48px;

}

.contenedor-titulo h3 {
    margin-top: 10px;
    align-self: center;
    font-size: 24px;
}

.contenedor-alianza-padre {
    background-color: #002859;
    width: 100%;
    color: white;
    /* margin-top: 80px; */
}

.contenedor-horda-padre {
    background-color: #8B1F1B;
    width: 100%;
    color: white;
    /* margin-top: 80px; */
}

.barra-separadora {
    border-top: 10px outset #8c8b8b;
}

.contenedor-alianza {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 70% 30%;
    grid-gap: 10px; 
    width: 85%;
    height: 400px;
    margin: 80px auto 0 auto;
    padding: 30px 0 30px 0;
}

.contenedor-horda {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30% 70%;
    grid-gap: 10px; 
    width: 85%;
    height: 400px;
    margin: 0 auto 0 auto;
    padding: 30px 0 30px 0;
}

.contenedor-alianza-texto, .contenedor-horda-texto {
    background-color: #232323;
    border-radius: 15px;
}

.contenedor-alianza-imagen, .contenedor-horda-imagen {
    background-color: #232323;
    border-radius: 15px;
}

.contenedor-alianza-imagen img{
    width: 50%;
    position: relative; /*Cambiar esto */
    left:100px;
    top: 5px;
}

.contenedor-alianza-logo img{
    width: 20%;
    position: absolute; 
    /* left: 1400px; */
    top: 0px;
}

#alianza{
    width: 170px;
    height: 241px;
    position: absolute;
    left: 1550px;
    top: 30px;
}

#horda{
    width: 150px;
    height: 253px;
    position: absolute;
    right: 1550px;
    top: 30px;
}

.contenedor-alianza-logoHorda img{
    width: 16%;
    position: relative; /*Cambiar esto */
    left:-500px;
    top: -850px;
}

.contenedor-horda-imagen img {
    width:100%;
    position: relative; /*Cambiar esto */
    left:20px;
    top: 70px;
}

.contenedor-alianza-texto h1 {
    margin-top: 10px;
    margin-left: 15px;
    background: linear-gradient(to right, rgb(85, 158, 241), rgb(243, 183, 52)); /* Degradado de negro a rojo */
    -webkit-background-clip: text; /* Aplicar el fondo solo al texto */
    -webkit-text-fill-color: transparent;
}

.contenedor-horda-texto h1{
    margin-top: 10px;
    margin-left: 740px;
    background: linear-gradient(to right, #8B1F1B, rgb(255, 255, 255)); /* Degradado de negro a rojo */
    -webkit-background-clip: text; /* Aplicar el fondo solo al texto */
    -webkit-text-fill-color: transparent;
}

.contenedor-alianza-texto h3, .contenedor-horda-texto h3 {
    margin-top: 30px;
    margin-left: 15px;
}

.contenedor-noticias {
    margin-top: 80px;
    width: 100vw;
}

.contenedor-noticias h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 48px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 15px;
}

.contenedor-noticias-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    text-align: center;
    width: 65%;
    height: 1300px;
    margin: 0 auto 0 auto;
    /* justify-items: center; */
    /* align-items: center; */
}

.contenedor-noticias-grid div {
    background-color: greenyellow;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.contenedor-noticias-grid div h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    margin: 10px;
}

.contenedor-noticias-grid div p {
    text-align: center;
    width: 80%;
    align-self: center;
}

.contenedor-noticias-grid div .contenedor-imagen {
    width: 80%;
    margin-top: 10px;
    height: 55%;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
}

footer {
    margin-top: 50px;
    height: 70px;
    background-color: #1C1C1C;
    color:whitesmoke;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer img{
    width:40px;
    margin: 15px;
}






/* CSS Personajes */

.contenedor_total{
    display: flex;
}

.enfrentamiento{
    width: 100%;
    height: 695px;
}

#enfrentados{
    width: 100%;
}

.container_alianza{
    /* background-image: url(img/fondobatman.jpg); */
    max-width: 50%;
    /* width: 50; */
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #002859;
    margin-right: 0%;
}

.container_horda{
    /* background-image: url(img/fondobatman.jpg); */
    max-width: 50%;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #8B1F1B;
    margin-left: 0%;
}

.ficha{
    width: 300px;
    margin: 10px;
    transition: all ease 300ms;
}
.ficha:hover{
    width: 350px;
}
.ficha .caratula{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.ficha .caratula img{
    height: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all ease 400ms;
}
.ficha:hover .caratula img{
    top: 0px;
    filter: none;
}
.ficha .img_back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom:-80px;
    left: 0px;
    background-size: cover;
    border-radius: 20px;
    transition: all ease 300ms;
}
/* Pseudo_clase :nth-of-type() en CSS, selecciona uno o más elementos de un tipo dado,
puede ser p, img, videos , etc., en función de su posición y los situa entre un grupo de hermanos */
.ficha:nth-of-type(1) .img_back{
    background-image: url(img/fondo-galaxia-acuarela-pintada-mano_52683-63443.avif);
}
.ficha:nth-of-type(2) .img_back{
    background-image: url(img/fondo-galaxia-acuarela-pintada-mano_52683-63443.avif);
}
.ficha:nth-of-type(3) .img_back{
    background-image: url(img/fondo-galaxia-acuarela-pintada-mano_52683-63443.avif);
}
.ficha:nth-of-type(4) .img_back{
    background-image: url(img/fondo-galaxia-acuarela-pintada-mano_52683-63443.avif);
}
.ficha:nth-of-type(5) .img_back{
    background-image: url(img/fondo-galaxia-acuarela-pintada-mano_52683-63443.avif);
}
.ficha:hover .img_back{
    bottom: -40px;
    border-radius: 20px;
}
.ficha .info{
    background: whitesmoke;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all ease 300ms;
}
.ficha:hover .info{
    padding: 40px;
}
.ficha .info h2{
    margin-top: 10px;
    /* Insertar tipografía */
}
.ficha .info p{
    margin-top: 10px;
    text-align: justify;
}
.container_alianza .ficha .info input{
    display: block;
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #002859;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all ease 300ms;
    margin: 20px auto;
}

.container_horda .ficha .info input{
    display: block;
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #8B1F1B;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all ease 300ms;
    margin: 20px auto;
}
.ficha .info input:hover{
    background: #c79dc2;

}
.ficha .info a{
    text-decoration: none;
}